@model WebAPI.Models.Musterija
@{
    ViewBag.Title = "musterijaView";
    ViewBag.Musterija = Model;
}

<html>
<body style="background-color:deeppink">
    <div style="text-align:right">
        <form action="/Projekat/OdjaviMusterija">
            <input type="submit" value="Odjavi se" />
        </form>
    </div>
    <div style="text-align:center">
        <h2>Dobrodošli @Model.Korisnicko_ime</h2>
    </div>
    <table>
        <tr>
            <td>
                <form action="/Projekat/MusterijaEdit">
                    <input type="submit" value="Izmeni profil" />
                </form>
            </td>
            <td>
                <form action="/Projekat/ZatraziVoznjuMusterija">
                    <input type="submit" value="Zatraži vožnju" />
                </form>
            </td>
        </tr>
    </table>
    
    <table>
        <tr>
            <td colspan="2" align="center">Vaši podaci</td>
        </tr>
        <tr>
            <td>Ime:</td>
            <td><label>@Model.Ime</label></td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td><label>@Model.Prezime</label></td>
        </tr>
        <tr>
            <td>Jmbg:</td>
            <td><label>@Model.Jmbg</label></td>
        </tr>
        <tr>
            <td>Korisničko ime:</td>
            <td><label>@Model.Korisnicko_ime</label></td>
        </tr>
        <tr>
            <td>Pol:</td>
            <td><label>@Model.Pol</label></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><label>@Model.Email</label></td>
        </tr>
        <tr>
            <td>Broj telefona:</td>
            <td><label>@Model.Kontakt_telefon</label></td>
        </tr>
    </table>
</body>
</html>

@if (Model.listaVoznja.Count == 0)
{
    <div>
        <h1>Lista vožnji je prazna!</h1>
    </div>
}
else if (Model.Filter == true)
{
    <div style="text-align:center">
        <table align="center" border="1">
            <tr>
                <td>Sortiraj</td>
                <td>
                    <form action="/Projekat/SortirajMusteriju">
                        Po datumu:<input type="radio" name="datum" /> Po Oceni:<input type="radio" name="ocena" />
                        <input type="submit" value="Sortiraj" />
                        <input type="hidden" value="@Model.Korisnicko_ime" name="musterija" />
                    </form>
                </td>
            </tr>
            <tr>
                <td>Pretraži vožnju </td>
                <td>
                    <form action="/Projekat/TraziMusterija">
                        Datum:<input type="text" name="datum" />
                        Ocena:<select name="ocena">
                            <option name="neocenjen">Neocenjen</option>
                            <option name="veomaLose">Veoma loša</option>
                            <option name="losa">Loša</option>
                            <option name="dobra">Dobra</option>
                            <option name="veomaDobra">Veoma dobra</option>
                            <option name="odlicna">Odlična</option>
                        </select>
                        Cena:<input type="text" name="cena" />
                        <input type="submit" value="Pretraga" />
                        <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
                    </form>
                </td>
            </tr>
            @foreach (WebAPI.Models.Voznja v in @Model.Filtrirane)
                {
                <tr>
                    <td>Datum i vreme porudžbine</td>
                    <td><lable>@v.Datum_i_vreme</lable></td>
                </tr>
                    <tr>
                        <td>Status vožnje</td>
                        <td>@v.StatusVoznje.ToString()</td>
                    </tr>
                    <tr>
                        <td>Početna lokacija</td>
                        <td><label>@v.LokacijaNaKojuTaksiDolazi.Adresa.Ulica @v.LokacijaNaKojuTaksiDolazi.Adresa.Broj ,@v.LokacijaNaKojuTaksiDolazi.Adresa.Mesto @v.LokacijaNaKojuTaksiDolazi.Adresa.PostanskiBroj</label></td>
                        @if (v.StatusVoznje == WebAPI.Models.StatusVoznje.Uspesna && v.Musterija.Korisnicko_ime != null)
                        {
                            <td rowspan="2">
                                <form action="/Projekat/UspesnoOtkazanaVoznja">
                                    <input type="hidden" name="korisnik" value="@Model.Korisnicko_ime" />
                                    <input type="hidden" name="datum" value="@v.Datum_i_vreme" />
                                    <input type="submit" value="Ostavi komentar" />
                                </form>
                            </td>
                        }
                        @if (v.StatusVoznje == WebAPI.Models.StatusVoznje.KreiranaNaCekanju)
                        {
                            <td rowspan="2">
                                <form action="/Projekat/OtkazujeMusterija">
                                    <input type="hidden" name="korisnik" value="@Model.Korisnicko_ime" />
                                    <input type="hidden" name="datum" value="@v.Datum_i_vreme" />
                                    <input type="submit" value="Otkaži vožnju!" />
                                </form>
                                <form action="/Projekat/IzmeniVoznjuMusterija">
                                    <input type="hidden" name="korisnik" value="@Model.Korisnicko_ime" />
                                    <input type="hidden" name="datum" value="@v.Datum_i_vreme" />
                                    <input type="submit" value="Izmeni vožnju" />
                                </form>
                            </td>
                        }
                        <td rowspan="2">
                            <form action="/Projekat/PrikaziKomentar">
                                <input type="submit" value="Prikaži vožnju" />
                                <input type="hidden" name="datum" value="@v.Datum_i_vreme" />
                                <input type="hidden" name="korisnik" value="@v.Musterija.Korisnicko_ime" />
                                <input type="hidden" name="vozac" value="@v.Vozac.Korisnicko_ime" />
                                <input type="hidden" name="dispecer" value="@v.Dispecer.Korisnicko_ime" />
                            </form>
                        </td>
                    </tr>
            }
        </table>
        <form action="/Projekat/PonistiFilter">
            <input type="submit" value="Poništi filter" />
            <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
        </form>
    </div>
}
else if (Model.Pretrazivanje == true)
{
    <div style="text-align:center">
        <table align="center" border="1">
            <tr>
                <td>Pretraži vožnje po statusu</td>
                <td>
                    <form action="/Projekat/FiltriraMusterija">
                        <select name="filterStatus">
                            <option id="kreirana">Kreirana</option>
                            <option id="formirana" selected>Formirana</option>
                            <option id="obradjena">Obrađena</option>
                            <option id="prihvacena">Prihvaćena</option>
                            <option id="Otkazana">Otkazana</option>
                            <option id="neuspesna">Neuspešna</option>
                            <option id="uspesna">Uspešna</option>
                        </select>
                        <input type="submit" value="Filtriraj" />
                        <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
                    </form>
                </td>
            </tr>
            <tr>
                <td>Sortiraj</td>
                <td>
                    <form action="/Projekat/SortirajMusteriju">
                        Po datumu:<input type="radio" name="datum" /> Po Oceni:<input type="radio" name="ocena" />
                        <input type="submit" value="Sortiraj" />
                        <input type="hidden" value="@Model.Korisnicko_ime" name="musterija" />
                    </form>
                </td>
            </tr>
            @foreach (WebAPI.Models.Voznja v in @Model.Sortirane)
                {
                <tr>
                    <td>Datum i vreme porudžbine</td>
                    <td><lable>@v.Datum_i_vreme</lable></td>
                </tr>
                    <tr>
                        <td>Status vožnje</td>
                        <td>@v.StatusVoznje.ToString()</td>
                    </tr>
                    <tr>
                        <td>Početna lokacija</td>
                        <td><label>@v.LokacijaNaKojuTaksiDolazi.Adresa.Ulica @v.LokacijaNaKojuTaksiDolazi.Adresa.Broj ,@v.LokacijaNaKojuTaksiDolazi.Adresa.Mesto @v.LokacijaNaKojuTaksiDolazi.Adresa.PostanskiBroj</label></td>
                        @if (v.StatusVoznje == WebAPI.Models.StatusVoznje.Uspesna && v.Musterija.Korisnicko_ime != null)
                        {
                            <td rowspan="2">
                                <form action="/Projekat/UspesnoOtkazanaVoznja">
                                    <input type="hidden" name="korisnik" value="@Model.Korisnicko_ime" />
                                    <input type="hidden" name="datum" value="@v.Datum_i_vreme" />
                                    <input type="submit" value="Ostavi komentar" />
                                </form>
                            </td>
                        }
                        @if (v.StatusVoznje == WebAPI.Models.StatusVoznje.KreiranaNaCekanju)
                        {
                            <td rowspan="2">
                                <form action="/Projekat/OtkazujeMusterija">
                                    <input type="hidden" name="korisnik" value="@Model.Korisnicko_ime" />
                                    <input type="hidden" name="datum" value="@v.Datum_i_vreme" />
                                    <input type="submit" value="Otkaži vožnju!" />
                                </form>
                                <form action="/Projekat/IzmeniVoznjuMusterija">
                                    <input type="hidden" name="korisnik" value="@Model.Korisnicko_ime" />
                                    <input type="hidden" name="datum" value="@v.Datum_i_vreme" />
                                    <input type="submit" value="Izmeni vožnju" />
                                </form>
                            </td>
                        }
                        <td rowspan="2">
                            <form action="/Projekat/PrikaziKomentar">
                                <input type="submit" value="Prikaži vožnju" />
                                <input type="hidden" name="datum" value="@v.Datum_i_vreme" />
                                <input type="hidden" name="korisnik" value="@v.Musterija.Korisnicko_ime" />
                                <input type="hidden" name="vozac" value="@v.Vozac.Korisnicko_ime" />
                                <input type="hidden" name="dispecer" value="@v.Dispecer.Korisnicko_ime" />
                            </form>
                        </td>
                    </tr>
            }
        </table>
        <form action="/Projekat/PonistiFilter">
            <input type="submit" value="Poništi filter" />
            <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
        </form>
    </div>
}
else if (Model.Sortiranje == true)
{
    <div style="text-align:center">
        <table align="center" border="1">
            <tr>
                <td>Pretraži vožnje po statusu</td>
                <td>
                    <form action="/Projekat/FiltriraMusterija">
                        <select name="filterStatus">
                            <option id="kreirana">Kreirana</option>
                            <option id="formirana" selected>Formirana</option>
                            <option id="obradjena">Obrađena</option>
                            <option id="prihvacena">Prihvaćena</option>
                            <option id="Otkazana">Otkazana</option>
                            <option id="neuspesna">Neuspešna</option>
                            <option id="uspesna">Uspešna</option>
                        </select>
                        <input type="submit" value="Filtriraj" />
                        <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
                    </form>
                </td>
            </tr>
            <tr>
                <td>Pretraži vožnju </td>
                <td>
                    <form action="/Projekat/TraziMusterija">
                        Datum:<input type="text" name="datum" />
                        Ocena:<select name="ocena">
                            <option name="neocenjen">Neocenjen</option>
                            <option name="veomaLose">Veoma loša</option>
                            <option name="losa">Loša</option>
                            <option name="dobra">Dobra</option>
                            <option name="veomaDobra">Veoma dobra</option>
                            <option name="odlicna">Odlična</option>
                        </select>
                        Cena:<input type="text" name="cena" />
                        <input type="submit" value="Pretraga" />
                        <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
                    </form>
                </td>
            </tr>
            @foreach (WebAPI.Models.Voznja v in @Model.Sortirane)
                {
                <tr>
                    <td>Datum i vreme porudžbine</td>
                    <td><lable>@v.Datum_i_vreme</lable></td>
                </tr>
                    <tr>
                        <td>Status vožnje</td>
                        <td>@v.StatusVoznje.ToString()</td>
                    </tr>
                    <tr>
                        <td>Početna lokacija</td>
                        <td><label>@v.LokacijaNaKojuTaksiDolazi.Adresa.Ulica @v.LokacijaNaKojuTaksiDolazi.Adresa.Broj ,@v.LokacijaNaKojuTaksiDolazi.Adresa.Mesto @v.LokacijaNaKojuTaksiDolazi.Adresa.PostanskiBroj</label></td>
                        @if (v.StatusVoznje == WebAPI.Models.StatusVoznje.Uspesna && v.Musterija.Korisnicko_ime != null)
                        {
                            <td rowspan="2">
                                <form action="/Projekat/UspesnoOtkazanaVoznja">
                                    <input type="hidden" name="korisnik" value="@Model.Korisnicko_ime" />
                                    <input type="hidden" name="datum" value="@v.Datum_i_vreme" />
                                    <input type="submit" value="Ostavi komentar" />
                                </form>
                            </td>
                        }
                        @if (v.StatusVoznje == WebAPI.Models.StatusVoznje.KreiranaNaCekanju)
                        {
                            <td rowspan="2">
                                <form action="/Projekat/OtkazujeMusterija">
                                    <input type="hidden" name="korisnik" value="@Model.Korisnicko_ime" />
                                    <input type="hidden" name="datum" value="@v.Datum_i_vreme" />
                                    <input type="submit" value="Otkaži vožnju!" />
                                </form>
                                <form action="/Projekat/IzmeniVoznjuMusterija">
                                    <input type="hidden" name="korisnik" value="@Model.Korisnicko_ime" />
                                    <input type="hidden" name="datum" value="@v.Datum_i_vreme" />
                                    <input type="submit" value="Izmeni vožnju" />
                                </form>
                            </td>
                        }
                        <td rowspan="2">
                            <form action="/Projekat/PrikaziKomentar">
                                <input type="submit" value="Prikaži vožnju" />
                                <input type="hidden" name="datum" value="@v.Datum_i_vreme" />
                                <input type="hidden" name="korisnik" value="@v.Musterija.Korisnicko_ime" />
                                <input type="hidden" name="vozac" value="@v.Vozac.Korisnicko_ime" />
                                <input type="hidden" name="dispecer" value="@v.Dispecer.Korisnicko_ime" />
                            </form>
                        </td>
                    </tr>
            }
        </table>
        <form action="/Projekat/PonistiFilter">
            <input type="submit" value="Poništi filter" />
            <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
        </form>
    </div>
}
else
{
    <div style="text-align:center">
        <table align="center" border="1">
            <tr>
                <td colspan="2">Vaše vožnje</td>
            </tr>
            <tr>
                <td>Pretraži vožnje po statusu</td>
                <td>
                    <form action="/Projekat/FiltriraMusterija">
                        <select name="filterStatus">
                            <option id="kreirana">Kreirana</option>
                            <option id="formirana" selected>Formirana</option>
                            <option id="obradjena">Obrađena</option>
                            <option id="prihvacena">Prihvaćena</option>
                            <option id="Otkazana">Otkazana</option>
                            <option id="neuspesna">Neuspešna</option>
                            <option id="uspesna">Uspešna</option>
                        </select>
                        <input type="submit" value="Filtriraj" />
                        <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
                    </form>
                </td>
            </tr>
            <tr>
                <td>Sortiraj</td>
                <td>
                    <form action="/Projekat/SortirajMusteriju">
                        Po datumu:<input type="radio" name="datum" /> Po Oceni:<input type="radio" name="ocena" />
                        <input type="submit" value="Sortiraj" />
                        <input type="hidden" value="@Model.Korisnicko_ime" name="musterija" />
                    </form>
                </td>
            </tr>
            <tr>
                <td>Pretraži vožnju </td>
                <td>
                    <form action="/Projekat/TraziMusterija">
                        Datum:<input type="text" name="datum" />
                        Ocena:<select name="ocena">
                            <option name="neocenjen">Neocenjen</option>
                            <option name="veomaLose">Veoma loša</option>
                            <option name="losa">Loša</option>
                            <option name="dobra">Dobra</option>
                            <option name="veomaDobra">Veoma dobra</option>
                            <option name="odlicna">Odlična</option>
                        </select>
                        Cena:<input type="text" name="cena" />
                        <input type="submit" value="Pretraga" />
                        <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
                    </form>
                </td>
            </tr>
            @foreach (WebAPI.Models.Voznja v in @Model.listaVoznja)
                {

                <tr>
                    <td>Datum i vreme porudžbine</td>
                    <td><lable>@v.Datum_i_vreme</lable></td>
                </tr>
                    <tr>
                        <td>Status vožnje</td>
                        <td>@v.StatusVoznje.ToString()</td>
                    </tr>
                    <tr>
                        <td>Početna lokacija</td>
                        <td><label>@v.LokacijaNaKojuTaksiDolazi.Adresa.Ulica @v.LokacijaNaKojuTaksiDolazi.Adresa.Broj ,@v.LokacijaNaKojuTaksiDolazi.Adresa.Mesto @v.LokacijaNaKojuTaksiDolazi.Adresa.PostanskiBroj</label></td>
                        @if (v.StatusVoznje == WebAPI.Models.StatusVoznje.Uspesna && v.Musterija.Korisnicko_ime != null)
                        {
                            <td>
                                <form action="/Projekat/UspesnoOtkazanaVoznja">
                                    <input type="hidden" name="korisnik" value="@Model.Korisnicko_ime" />
                                    <input type="hidden" name="datum" value="@v.Datum_i_vreme" />
                                    <input type="submit" value="Ostavi komentar" />
                                </form>
                            </td>
                        }
                        @if (v.StatusVoznje == WebAPI.Models.StatusVoznje.KreiranaNaCekanju)
                        {
                            <td>
                                <form action="/Projekat/OtkazujeMusterija">
                                    <input type="hidden" name="korisnik" value="@Model.Korisnicko_ime" />
                                    <input type="hidden" name="datum" value="@v.Datum_i_vreme" />
                                    <input type="submit" value="Otkaži vožnju!" />
                                </form>
                                <form action="/Projekat/IzmeniVoznjuMusterija">
                                    <input type="hidden" name="korisnik" value="@Model.Korisnicko_ime" />
                                    <input type="hidden" name="datum" value="@v.Datum_i_vreme" />
                                    <input type="submit" value="Izmeni vožnju" />
                                </form>
                            </td>
                        }
                        <td>
                            <form action="/Projekat/PrikaziKomentar">
                                <input type="submit" value="Prikaži vožnju" />
                                <input type="hidden" name="datum" value="@v.Datum_i_vreme" />
                                <input type="hidden" name="korisnik" value="@v.Musterija.Korisnicko_ime" />
                                <input type="hidden" name="vozac" value="@v.Vozac.Korisnicko_ime" />
                                <input type="hidden" name="dispecer" value="@v.Dispecer.Korisnicko_ime" />
                            </form>
                        </td>
                    </tr>
            }
        </table>
    </div>
}
</body>
</html>