@model WebAPI.Models.Voznja
@{
    ViewBag.Title = "PrikazKomentara";
}

<html>
<head>
    <script>
        function goBack()
        {
            window.history.back();
        }
    </script>
</head>
<body style="background-color:skyblue">
    <div style="text-align:center">
        <h2>Prikaz detalja vožnje naručene u @Model.Datum_i_vreme</h2>
        <table border="1">
            <tr>
                <td>Datum i vreme porudžbine</td>
                <td>Početna lokacija</td>
                <td>Željeni tip automobila</td>
                <td>Mušterija</td>
                <td>Odredište</td>
                <td>Dispečer</td>
                <td>Vozač</td>
                <td>Iznos</td>
                <td>Komentar</td>
                <td>Status vožnje</td>
            </tr>
            <tr>
                <td>@Model.Datum_i_vreme.ToString()</td>
                <td>@Model.LokacijaNaKojuTaksiDolazi.Adresa.Ulica @Model.LokacijaNaKojuTaksiDolazi.Adresa.Broj,@Model.LokacijaNaKojuTaksiDolazi.Adresa.Mesto @Model.LokacijaNaKojuTaksiDolazi.Adresa.PostanskiBroj</td>
                <td>@Model.TipAutomobila.ToString()</td>
                <td>@Model.Musterija.Ime @Model.Musterija.Prezime</td>
                <td>@Model.Odrediste.Adresa.Ulica @Model.Odrediste.Adresa.Broj,@Model.Odrediste.Adresa.Mesto @Model.Odrediste.Adresa.PostanskiBroj</td>
                <td>@Model.Dispecer.Ime @Model.Dispecer.Prezime</td>
                <td>@Model.Vozac.Ime @Model.Vozac.Prezime</td>
                <td>@Model.Iznos.ToString()</td>
                <td>@Model.Komentar.Korisnik.Korisnicko_ime: @Model.Komentar.Opis.<br />Ocena: @Model.Komentar.OcenaVoznje<br />Datum: @Model.Komentar.DatumObjave.ToString()</td>
                <td>@Model.StatusVoznje</td>
            </tr>
        </table>
    </div>
    <button onclick="goBack()">Vrati se nazad</button>
</body>
</html>